# Output Files
spectral_unmixing/output*
*.png

# Backup Files
backup/*
*.bak

# Test Files
texture_Takido/*
spectral_unmixing/Data/r02_matlab_coral_species/*
*.bak

# MATLAB temp. files
*.asv
*.mat

!image/*

spectral_unmixing/12SEP05023730-M2AS-052875753010_01_P001.TIF
